<?xml version="1.0" encoding="utf-8" standalone="no"?><web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<filter>
		<filter-name>ObjectifyFilter</filter-name>
		<filter-class>com.googlecode.objectify.ObjectifyFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>ObjectifyFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<listener>
		<listener-class>com.whatsaround.StartupServlet</listener-class>
	</listener>
	
	<servlet>
	<servlet-name>NewUser</servlet-name>
		<servlet-class>com.whatsaround.NewUser</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>NewUser</servlet-name>
		<url-pattern>/newuser</url-pattern>
	</servlet-mapping>
	<servlet>
	<servlet-name>ProfessionalSearch</servlet-name>
		<servlet-class>com.whatsaround.ProfessionalSearch</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProfessionalSearch</servlet-name>
		<url-pattern>/professionalsearch</url-pattern>
	</servlet-mapping>
     <servlet>
	<servlet-name>NewCareer</servlet-name>
		<servlet-class>com.whatsaround.NewCareer</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>NewCareer</servlet-name>
		<url-pattern>/newcareer</url-pattern>
	</servlet-mapping>
 <servlet>
	<servlet-name>NewProfessionalComment</servlet-name>
		<servlet-class>com.whatsaround.NewProfessionalComment</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>NewProfessionalComment</servlet-name>
		<url-pattern>/newprofessionalcomment</url-pattern>
	</servlet-mapping>
	<servlet>
	<servlet-name>ProfessionalCommentsSearch</servlet-name>
		<servlet-class>com.whatsaround.ProfessionalCommentsSearch</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProfessionalCommentsSearch</servlet-name>
		<url-pattern>/professionalcommentssearch</url-pattern>
	</servlet-mapping>
 <servlet>
	<servlet-name>Login</servlet-name>
		<servlet-class>com.whatsaround.Login</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	<servlet>
	<servlet-name>ProfessionalSearchCountry</servlet-name>
		<servlet-class>com.whatsaround.ProfessionalSearchCountry</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProfessionalSearchCountry</servlet-name>
		<url-pattern>/professionalcountry</url-pattern>
	</servlet-mapping>
 <servlet>
  <servlet-name>SystemServiceServlet</servlet-name>
  <servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
  <init-param>
   <param-name>services</param-name>
   <param-value/>
  </init-param>
 </servlet>
 <servlet-mapping>
  <servlet-name>SystemServiceServlet</servlet-name>
  <url-pattern>/_ah/spi/*</url-pattern>
 </servlet-mapping>
</web-app>